<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Take a poke at me - the nuclear option">
    <meta name="author" content="Kurtis Nusbaum">
    <title>Take A Poke At Me - Poke At Me Bro</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35856088-1']);
      _gaq.push(['_setDomainName', 'takeapokeat.me']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


  </head>



  <body>
      <a id="forkme" href="http://github.com/klnusbaum/derpoker/"><img style="position: fixed; top: 0px; right: 0px;" src="https://a248.e.akamai.net/camo.github.com/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>

    <div class="container">
      <br/>
      <div class="hero-unit">
        <h1>Poke At Me Bro</h1>
        <br/>
        <a class="btn btn-primary btn-large" href="https://www.facebook.com/kurtis.nusbaum">Go ahead. Do it.</a>
      </div>

      <div class="row">
        <div class="offset3 span5">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Poker</th>
                <th>Number of times I've poked them</th>
              </tr>
            </thead>
            {% for poker_entry in pokers %}
            <tr>
              <td> <a href="https://www.facebook.com/{{ poker_entry.poker_profile_link }}">{{ poker_entry.poker }}</a></td>
              <td> {{ poker_entry.num_pokes }} </td>
            </td>
            {% endfor %}
          </table>

        </div><!-- span12 -->
      </div><!-- row -->

      <div class="row">
        <div class="span4">
          <p>Like takeapokeat.me? 
          Checkout my other project: <a href="https://www.udjplayer.com">UDJ</a></p>
        </div> <!-- span4 -->
      </div> <!-- row -->

    </div><!-- container -->


    <script src="{{ STATIC_URL }}bootstrap/js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  </body>
</html>
