<html>
<head>
<title>Take A Poke At Me - Poke At Me Bro</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35856088-1']);
  _gaq.push(['_setDomainName', 'takeapokeat.me']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

</script>
</head>
<body>
  <h1><a href="https://www.facebook.com/kurtis.nusbaum">Poke At Me Bro</a></h1>
  <table>
  {% for poker_entry in pokers %}
    <tr>
      <td> <a href="https://www.facebook.com/{{ poker_entry.poker_profile_link }}">{{ poker_entry.poker }}</a></td>
      <td> {{ poker_entry.num_pokes }} </td>
    </td>
  {% endfor %}
  </table>
  <p>Like takeapokeat.me? Checkout my other project: <a href="https://www.udjplayer.com">UDJ</a></p>
</body>
</html>
